<div class="container">
    <div class="features__blok">
        <h2 class="features__deskr">Our Features</h2>
        <h1 class="features__title">Baked With Love</h1>
        <ul class="features__cart">
            <li class="features__cart-list">
               <svg class="features__icon"><use href="./images/symbol-defs.svg#icon-Combined"></use></svg>
                <h2 class="features__card-title">Fresh</h2>
                <p class="features__desk">Nothing the copy said could convince her and so it didn’t take long.</p>
            </li>
            <li class="features__cart-list">
                <svg class="features__icon"><use href="./images/symbol-defs.svg#icon-Shape-2"></use></svg>
                <h2 class="features__card-title">Tasty</h2>
                <p class="features__desk">And if she hasn’t been rewritten, then they are still using her.</p>
            </li>
            <li class="features__cart-list">
                <svg class="features__icon"><use href="./images/symbol-defs.svg#icon-Shape"></use></svg>
                <h2 class="features__card-title">Natural</h2>
                <p class="features__desk">Copy Writers ambushed her, made her drunk with Longe and Parole.</p>
            </li>
           
          
        </ul>
    </div>
</div>