<header class="header">
    <div class="container header__container">
        <a href=""><h2 class="header__logo">BKR</h2></a>
        <nav>
            <ul class="header__nav-list">
                <li><a  class="header__nav-item" href="#">About</a></li>
                <li><a class="header__nav-item" href="#">Products</a></li>
                <li><a class="header__nav-item" href="#">Recipes</a></li>
            </ul>
        </nav>
        <button class="header__btn open_modal" type="button" >contacts</button>
</header>
