<div class="container">
  <div class="hero__blok">
      <img class="hero__blok-ears" src="./images/ears.png"/>
    <h2 class="hero__blok-date">Sience 1984</h2>
    <img class="hero__blok-combined" src="./images/Combined.png"/>
    <h1 class="hero__blok-main">Fresh Bakery Every Day</h1>
    <h3 class="hero__blok-diskription">
      Even the all-powerful Pointing has no control about the blind texts it is
      an almost.
    </h3>
   
      <img
        class="hero__blok-img"
        src="./images/Background.jpg"
        alt="пекар"
        width="700px"
      />
   
  </div>
</div>
