<div id="modal" class="modal bounceIn">
  <div id="close_modal">
    <button class="button-modal" type="button" data-modal-close ><svg class="close-svg">
        <use href="./images/symbol-defs.svg#icon-close"></use>
    </svg></button>
  </div>
  <div class="modal_txt">
    <h1 class="modal-title">Contact Us</h1>
    <ul class="contact">
        <li class="contact__item"> <a class="contact__link" href="emailto:info@devstudio.com"><svg class="contact__icon" width="32" height="24"><use href="./images/symbol-defs.svg#icon-email-black"> </use></svg>info@devstudio.com </a></li>
        <li class="contact__item"> <a class="contact__link" href="tel:+380961111111"><svg class="contact__icon" width="32" height="24"><use href="./images/symbol-defs.svg#icon-phone"> </use></svg> +38 096 111 11 11</a></li>
        
   </ul>

  </div>
</div>
<script src="./js/modal.js"></script>
