<div class="container">
  <div class="products__blok">
    <h2 class="products__deskr">Our Products</h2>
    <h1 class="products__title">Baked Fresh Every Morning</h1>
 <div class="products__galery">
    <div id="carousel" class="carousel">
        <button class="arrow prev">⇦</button>
        <div class="gallery">
          <ul>
            <li><img src="./images/Bitmap1.png"></li>
            <li><img src="./images/Bitmap2.png"></li>
            <li><img src="./images/Bitmap3.png"></li>
            <li><img src="./images/Bitmap4.png"></li>
            <li><img src="./images/Bitmap5.png"></li>
            <li><img src="./images/Bitmap.png"></li> 
        </div>
        <button class="arrow next">⇨</button>
      </div>
 </div>
</div>

<script src="./js/carusel.js"></script>